
/* main card on the infomation page */
.card-container {
    perspective: 1000px;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  }
  
  .card-container {
    perspective: 1000px;
    cursor: pointer;
    width: 20%; /* Keeping the card width as per your preference */
  }
  
  .card {
    width: 100%; /* Ensures the card takes up the full width of the container */
    height: 100%; /* Adjust the height as needed */
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Your box-shadow style */
    border-radius: 10px; /* Your border-radius style */
  }
  
  /* Add hover effect */
  .card:hover {
    transition: transform 0.3s;
    transform: rotateY(30deg); /* Slightly rotate to indicate a flip */
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px; /* Ensures the rounded corners are consistent */
    text-align: center;
    overflow: hidden; /* Ensure no overflow of text */
  }
  
  .card-back {
    background-color: #f1f1f1;
    color: #333;
    transform: rotateY(180deg);
  }
  .card-table {
    width: 100%; /* Make table take full width */
    border-collapse: collapse; /* Remove gaps between cells */
    margin-top: 13%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /* Table header styling */
  .card-table th {
    font-size: 13px;
    text-align: left;
    font-weight: bold;
  }
  
  /* Table body styling */
  .card-table td {
    font-size: 13px;
    border-bottom: 1px solid #ddd; /* Light border for separation */
  }
