
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
  }
  
  .tabs button {
    background: none;
    padding: 1rem;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid transparent; /* Add a transparent border */
    border-radius: 4px;

    margin-bottom: 5px;
    
    font-size: 1.2rem;
    color: #333;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .tabs button:hover {
    border-bottom: 3px solid #007bff;
  }
  
  .tabs button.active {
    border-bottom: 3px solid #007bff;
  }
  